{% extends 'polls/base.html' %}

{% block home_content %}
{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href={% url 'polls:home' %}>Home</a></li>
            <li class="breadcrumb-item"><a href={% url 'polls:index' %}>Questions</a></li>
            <li class="breadcrumb-item active" aria-current="page">Choices</li>
        </ol>
    </nav>

    <h1>{{ question.question_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">

        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}" class="custom-txt">{{ choice.choice_text }}</label><br>
        {% endfor %}

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Modal-Edit">
            Edit Question
        </button>

        <input type="submit" class="btn btn-info btn-sm" value="Vote">

    </form>

    <div class="modal fade" id="Modal-Edit" tabindex="-1" role="dialog" aria-labelledby="ModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="ModalScrollableTitle"> Edit Question </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <form action="{% url 'polls:edit' question.id %}" method="post"> {% csrf_token %}
                    <div class="modal-body">
                        <label for="text"> <strong>Question</strong></label>
                        <input type="text" name="new_text" value="{{ question.question_text }}" class="form-control" id="text" required>
                        <br>

                        <label for="choice1"> <strong>Choices</strong> </label>
                        {% for choice in question.choice_set.all %}
                            <input type="text" name="choice{{ forloop.counter }}" value="{{ choice.choice_text }}" class="form-control" id="choice{{ forloop.counter }}">
                            <h6></h6>
                        {% endfor %}
                        <br>
                        <p><strong>IMPORTANT:</strong> The votes will be reset if you accept changes.</p>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save changes">
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock%}
